body {
    background-color: #222222;
}

#wrpapper{
    position: relative;
    top: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.element{
    position: relative;
    display: inline-block;
    width: 10%;
    float: left;
    margin-right: 1%;
    margin-bottom: 40px;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    background-color: #222222;
    cursor: pointer;
}

.element:hover .name{
    display: block;
    margin-top: 10px;
}

.element .prob{
    display: inline-block;
    position: relative;
    top: -20px;
}

.element .name{
    display: none;
}

.element img{
    height: 100%;
    width: 100%;
}

.shake-button{
    position: absolute;
    top: 420px;
    height: 150px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    text-align: center;
    border-radius: 50%;
    background: url("../img/pokeball.png") no-repeat center center;
    background-size: cover;
    color: white;
    font-size: 18px;
    line-height: 100px;
    cursor: pointer;
    user-select: none;
}

.shake-button:hover{
    -webkit-box-shadow: 0px 0px 40px 15px rgba(247,0,0,0.4);
    -moz-box-shadow: 0px 0px 40px 15px rgba(247,0,0,0.4);
    box-shadow: 0px 0px 40px 15px rgba(247,0,0,0.4);
}


@keyframes falling {
    100%{transform: translateY(40px);}
}

@keyframes shake {
    100%{transform: translateX(-30px);}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.shaking{
    animation: shake 0.1s ease-in alternate infinite;
}

.choosed{
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -100px;
    background-color: transparent;
    background-size: contain;
    height: 200px;
    width: 200px;
    line-height: 150px;
    font-size: 40px;
    z-index: 99999;
    animation: falling 0.5s ease-in alternate infinite;
}

.choosed .prob{
    display: none;
}

.choosed .name{
    display: inline-block;
    position: absolute;
    bottom: -100px;
    left: 50%;
    width: 80px;
    margin-left: -80px;
}
.choosed:last-child .name{
    margin-left: -40px;
}
.choosed:nth-child(8) .name{
    margin-left: -120px;
}
